//<FORM>
// Снипет (HTML):

.form {
	background-color: #fff;
	padding: rem(80);
	padding-top: rem(60);
	border-radius: 50px;

	@media (max-width:$laptopLarge) {
		padding: rem(50);
	}

	@media (max-width:$laptop) {
		padding: rem(35);
	}

	@media (max-width:$mobile) {
		padding: rem(20);
		border-radius: 20px;
	}

	// .form__title

	&__title {
		font-size: 60px;
		line-height: 70px;
		margin-bottom: rem(30);

		@media (max-width:$laptopLarge) {
			font-size: 50px;
			line-height: 60px;
		}

		@media (max-width:$mobile) {
			font-size: 40px;
			line-height: 40px;
		}

		@media (max-width:$mobileMiddle) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	// .form__select

	&__select {}

	// .form__line

	&__line {
		position: relative;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	// .form__label

	&__label {}

	// .form__input

	&__input {
		background: #fff;
		padding: 0 rem(40);
		font-size: 20px;
		line-height: 20px;
		height: 60px;
		width: 100%;
		display: block;
		color: #000000;
		border: 1px solid #b6b6b6;
		border-radius: 100px;
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;


		&._form-focus {}

		&._form-error {}

		&::placeholder {
			transition: opacity 0.3s;
			color: #000;
		}

		&:focus::placeholder {
			opacity: 0;
		}
	}

	// .form__button

	&__button {
		margin-top: rem(40);
		font-size: 20px;
		line-height: 20px;
		color: #fff;
		text-transform: uppercase;
		border-radius: 100px;
		background: #ea2427;
		font-weight: 800;
		height: rem(60);
		padding: rem(20);

		.application-search-form & {
			font-size: 17px;

			@media (max-width:$laptopLarge) {
				font-size: 15px;
			}
		}

		&:hover {
			background: #d42023;
		}

		&:active {
			background: #9c191b;
		}

		@media (max-width:$laptop) {}

		@media (max-width:$tablet) {}

		@media (max-width:$mobile) {
			font-size: 17px;
			line-height: 17px;
			margin-top: rem(20);
		}

		@media (max-width:$mobileMiddle) {
			// height: rem(45);
		}

	}
}

.form {

	// .form__row

	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;

		@media (max-width:$mobileMiddle) {
			grid-template-columns: 1fr;
			gap: 0px;
			margin-bottom: rem(30);
		}
	}

	// .form__line

	&__line {}

	// .form__label

	&__label {}

	// .form__input

	&__input {}

	// .form__radio-row

	&__radio-row {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: rem(30);

		@media (max-width:$mobileMiddle) {
			display: block;
		}
	}

	// .form__radio-title

	&__radio-title {
		font-size: 20px;
		line-height: 20px;

		@media (max-width:$mobileMiddle) {
			margin-bottom: rem(10);
		}
	}

	// .form__radio-block

	&__radio-block {
		background: #ea2427;
		border-radius: 25px;
		padding: rem(10);
	}

	// .form__radio-btn-label

	&__radio-btn-label {
		display: inline-block;
	}

	// .form__radio-btn-input

	&__radio-btn-input {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;

		&:checked {
			&+.form__radio-btn-name {
				background-color: #fff;
				color: #000;
			}
		}

	}

	// .form__radio-btn-name

	&__radio-btn-name {
		cursor: pointer;
		font-weight: 700;
		font-size: 15px;
		line-height: 15px;
		text-transform: uppercase;
		padding: rem(10) rem(20);
		display: block;
		border-radius: 100px;
		transition: all 0.3s ease 0s;
		color: #fff;

		&:hover {
			color: #000;
		}
	}

	// .form__txt-title

	&__txt-title {
		position: absolute;
		top: 20px;
		left: 24px;
		font-size: 20px;
		line-height: 20px;
		transition: all 0.3s ease 0s;

		._form-focus & {
			top: -22px;
			left: 0;
			font-size: 15px;
		}
	}

	// .form__txt-subtitle

	&__txt-subtitle {
		position: absolute;
		top: 56px;
		left: 24px;
		font-size: 15px;
		line-height: 20px;
		color: #798283;
		transition: all 0.3s ease 0s;

		._form-focus & {
			display: none;
		}
	}
}

textarea.form__input {
	resize: none;
	padding-top: rem(20);
	padding-bottom: rem(20);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";